.card {
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 2em;
  box-shadow: 0 3px 5px rgba(227, 218, 218, 0.2);
}

.card-body {
  height: 90px !important;
  width: 320px !important;
  font-size: small !important;
}

.card-inside {
  height: 540px !important;
  width: 340px !important;
}

.card-1 {
  background-color: #fef7f7 !important;
}

.feature-text {
  font-size: small !important;
}
